.header {
  width: 100%;
  height: 92px;
  position: fixed;
  overflow: hidden;
  
}
.logo{
  position: absolute;
width: 142px;
height: 35px;
left: 153px;
top: 50%;
transform: translateY(-50%);

}

.list {
  position: absolute;
  left: 365px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
  font-family: "Montserrat", sa2ns-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.045em;
  color: #636a7b;
}

@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Regular.ttf");
}
.yellow-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #41495D;
  position: absolute;
  width: 299px;
  height: 59px;
  left: 1168px;
  top: 17px;
  border: none;
  background: #fdeb01;
  border-radius: 56px;
  z-index: 5;
}

.icon-circle {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.45);
}

.button-text {
  position: absolute;
  top: 50%;
  left: 76px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.message {
  position: absolute;
  width: 254px;
  height: 59px;
  left: 1513px;
  top: 17px;
  border: none;
  background: #0E5D5C;
  border-radius: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: -0.02em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  z-index: 5;
}

.photo {
  position: absolute;
  width: 2765.68px;
  height: 829.39px;
  left: -388.07px;
  top: -400px;
}